.task-block{
    width: 77.5%;
    padding: 20px;
    position: absolute;
    top:50%;
    right: 0%;
    transform: translate(0,-50%);
    height: 95.5vh;
    border-radius: 25px;
    margin-right: 30px;
}

.task-header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-weight: 800;
 border-bottom: 1px solid grey;   

}

.date-arrow{
    cursor: pointer;
    font-weight: 800;
    transition: all .3s;
    font-size: 30px;
    &:hover{
        opacity: .75;
    }
}
/*
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
*/